@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Index</h1>
    <ul>
        <li>String-Guid: @Html.ActionLink("Here", "StringGuid")</li>
        <li>String-Int: </li>
        <li>String-String: </li>
        <li>String: </li>
    </ul>
</div>